/**
 * Basics
 */
* {
  box-sizing: border-box
}
*:before, *:after {
  box-sizing: border-box
}
html {
  /* base pixel size that we calculate em from */
  font-size: 16px
}
body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, .87);
  line-height: 1.42857143;
  margin: 0
}
a {
  color: rgba(0, 0, 0, 1)
}

/**
 * Container + media queries
 */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}
@media (min-width: 48rem) {
  .container {
    width: 46.87rem
  }
}
@media (min-width: 62rem) {
  .container {
    width: 60.62rem
  }
}
@media (min-width: 75rem) {
  .container {
    width: 73.125rem
  }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}
.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -.5rem;
     margin-left: -.5rem
}
.row.reverse {
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse
}

/**
 * The Grid
 */
.s, .s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12,
.s-offset-1, .s-offset-2, .s-offset-3, .s-offset-4, .s-offset-5, .s-offset-6,
.s-offset-7, .s-offset-8, .s-offset-9, .s-offset-10, .s-offset-11, .s-offset-12,

.m, .m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9, .m10, .m11, .m12,
.m-offset-1, .m-offset-2, .m-offset-3, .m-offset-4, .m-offset-5, .m-offset-6,
.m-offset-7, .m-offset-8, .m-offset-9, .m-offset-10, .m-offset-11, .m-offset-12,

.l, .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12,
.l-offset-1, .l-offset-2, .l-offset-3, .l-offset-4, .l-offset-5, .l-offset-6,
.l-offset-7, .l-offset-8, .l-offset-9, .l-offset-10, .l-offset-11, .l-offset-12,

.xl, .xl1, .xl2, .xl3, .xl4, .xl5, .xl6, .xl7, .xl8, .xl9, .xl10, .xl11, .xl12,
.xl-offset-1, .xl-offset-2, .xl-offset-3, .xl-offset-4, .xl-offset-5, .xl-offset-6,
.xl-offset-7, .xl-offset-8, .xl-offset-9, .xl-offset-10, .xl-offset-11, .xl-offset-12 {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding-right: .5rem;
   padding-left: .5rem
}
.s {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
          flex-basis: 0;
  -ms-flex-positive: 1;    
  -ms-flex-preferred-size: 0;
  max-width: 100%
}
.s1 {
  -webkit-flex-basis: 8.333%;
          flex-basis: 8.333%;
  -ms-flex-preferred-size: 8.333%;
  max-width: 8.333%
}
.s2 {
  -webkit-flex-basis: 16.667%;
          flex-basis: 16.667%;
  -ms-flex-preferred-size: 16.667%;
  max-width: 16.667%
}
.s3 {
  -webkit-flex-basis: 25%;
          flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  max-width: 25%
}
.s4 {
  -webkit-flex-basis: 33.333%;
          flex-basis: 33.333%;
  -ms-flex-preferred-size: 33.333%;
  max-width: 33.333%
}
.s5 {
  -webkit-flex-basis: 41.667%;
          flex-basis: 41.667%;
  -ms-flex-preferred-size: 41.667%;
  max-width: 41.667%
}
.s6 {
  -webkit-flex-basis: 50%;
          flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  max-width: 50%
}
.s7 {
  -webkit-flex-basis: 58.333%;
          flex-basis: 58.333%;
  -ms-flex-preferred-size: 58.333%;
  max-width: 58.333%
}
.s8 {
  -webkit-flex-basis: 66.667%;
          flex-basis: 66.667%;
  -ms-flex-preferred-size: 66.667%;
  max-width: 66.667%
}
.s9 {
  -webkit-flex-basis: 75%;
          flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  max-width: 75%
}
.s10 {
  -webkit-flex-basis: 83.333%;
          flex-basis: 83.333%;
  -ms-flex-preferred-size: 83.333%;
  max-width: 83.333%
}
.s11 {
  -webkit-flex-basis: 91.667%;
          flex-basis: 91.667%;
  -ms-flex-preferred-size: 91.667%;
  max-width: 91.667%
}
.s12 {
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  max-width: 100%
}
.s-offset-1 {
  margin-left: 8.333%
}
.s-offset-2 {
  margin-left: 16.667%;
}
.s-offset-3 {
  margin-left: 25%
}
.s-offset-4 {
  margin-left: 33.333%
}
.s-offset-5 {
  margin-left: 41.667%
}
.s-offset-6 {
  margin-left: 50%
}
.s-offset-7 {
  margin-left: 58.333%
}
.s-offset-8 {
  margin-left: 66.667%
}
.s-offset-9 {
  margin-left: 75%
}
.s-offset-10 {
  margin-left: 83.333%
}
.s-offset-11 {
  margin-left: 91.667%
}
.s-offset-12 {
  margin-left: 100%
}
.s-start {
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -ms-flex-pack: start;
  text-align: start
}
.s-center {
  -webkit-justify-content: center;
          justify-content: center;
  -ms-flex-pack: center;
  text-align: center
}
.s-end {
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -ms-flex-pack: end;  
  text-align: end
}
.s-top {
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -ms-flex-align: start
}
.s-middle {
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-align: center
}
.s-bottom {
  -webkit-align-items: flex-end;
          align-items: flex-end;
  -ms-flex-align: end
}
.s-around {
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -ms-flex-pack: distribute
}
.s-between {
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -ms-flex-pack: justify
}
.s-first {
    -webkit-order: -1;
            order: -1;
    -ms-flex-order: -1
}
.s-last {
    -webkit-order: 1;
            order: 1;
    -ms-flex-order: 1
}
.s-reverse {
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse
}
@media (min-width: 48rem) {
  .m {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    -ms-flex-positive: 1;    
    -ms-flex-preferred-size: 0;    
    max-width: 100%
  }
  .m1 {
    -webkit-flex-basis: 8.333%;
            flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    max-width: 8.333%
  }
  .m2 {
    -webkit-flex-basis: 16.667%;
            flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    max-width: 16.667%
  }
  .m3 {
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    max-width: 25%
  }
  .m4 {
    -webkit-flex-basis: 33.333%;
            flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    max-width: 33.333%
  }
  .m5 {
    -webkit-flex-basis: 41.667%;
            flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    max-width: 41.667%
  }
  .m6 {
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    max-width: 50%
  }
  .m7 {
    -webkit-flex-basis: 58.333%;
            flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    max-width: 58.333%
  }
  .m8 {
    -webkit-flex-basis: 66.667%;
            flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    max-width: 66.667%
  }
  .m9 {
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    max-width: 75%
  }
  .m10 {
    -webkit-flex-basis: 83.333%;
            flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    max-width: 83.333%
  }
  .m11 {
    -webkit-flex-basis: 91.667%;
            flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    max-width: 91.667%
  }
  .m12 {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    max-width: 100%
  }
  .m-offset-1 {
    margin-left: 8.333%
  }
  .m-offset-2 {
    margin-left: 16.667%
  }
  .m-offset-3 {
    margin-left: 25%
  }
  .m-offset-4 {
    margin-left: 33.33333333%
  }
  .m-offset-5 {
    margin-left: 41.667%
  }
  .m-offset-6 {
    margin-left: 50%
  }
  .m-offset-7 {
    margin-left: 58.333%
  }
  .m-offset-8 {
    margin-left: 66.667%
  }
  .m-offset-9 {
    margin-left: 75%
  }
  .m-offset-10 {
    margin-left: 83.333%
  }
  .m-offset-11 {
    margin-left: 91.667%
  }
  .m-offset-12 {
    margin-left: 100%
  }
  .m-start {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -ms-flex-pack: start;
    text-align: start
  }
  .m-center {
    -webkit-justify-content: center;
            justify-content: center;
    -ms-flex-pack: center;
    text-align: center
  }
  .m-end {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -ms-flex-pack: end;  
    text-align: end
  }
  .m-top {
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -ms-flex-align: start
  }
  .m-middle {
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-align: center
  }
  .m-bottom {
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -ms-flex-align: end
  }
  .m-around {
      -webkit-justify-content: space-around;
              justify-content: space-around;
      -ms-flex-pack: distribute
  }
  .m-between {
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -ms-flex-pack: justify
  }
  .m-first {
      -webkit-order: -1;
              order: -1;
      -ms-flex-order: -1
  }
  .m-last {
      -webkit-order: 1;
              order: 1;
      -ms-flex-order: 1
  }
  .m-reverse {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse
  }
}

@media (min-width: 62rem) {
  .l {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    -ms-flex-positive: 1;    
    -ms-flex-preferred-size: 0;    
    max-width: 100%
  }
  .l1 {
    -webkit-flex-basis: 8.333%;
            flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    max-width: 8.333%
  }
  .l2 {
    -webkit-flex-basis: 16.667%;
            flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    max-width: 16.667%
  }
  .l3 {
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    max-width: 25%
  }
  .l4 {
    -webkit-flex-basis: 33.333%;
            flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    max-width: 33.333%
  }
  .l5 {
    -webkit-flex-basis: 41.667%;
            flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    max-width: 41.667%
  }
  .l6 {
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    max-width: 50%
  }
  .l7 {
    -webkit-flex-basis: 58.333%;
            flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    max-width: 58.333%
  }
  .l8 {
    -webkit-flex-basis: 66.667%;
            flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    max-width: 66.667%
  }
  .l9 {
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    max-width: 75%
  }
  .l10 {
    -webkit-flex-basis: 83.333%;
            flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    max-width: 83.333%
  }
  .l11 {
    -webkit-flex-basis: 91.667%;
            flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    max-width: 91.667%
  }
  .l12 {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    max-width: 100%
  }
  .l-offset-1 {
    margin-left: 8.333%
  }
  .l-offset-2 {
    margin-left: 16.667%
  }
  .l-offset-3 {
    margin-left: 25%;
  }
  .l-offset-4 {
    margin-left: 33.333%
  }
  .l-offset-5 {
    margin-left: 41.667%
  }
  .l-offset-6 {
    margin-left: 50%
  }
  .l-offset-7 {
    margin-left: 58.333%
  }
  .l-offset-8 {
    margin-left: 66.667%
  }
  .l-offset-9 {
    margin-left: 75%
  }
  .l-offset-10 {
    margin-left: 83.333%
  }
  .l-offset-11 {
    margin-left: 91.667%
  }
  .l-offset-12 {
    margin-left: 100%
  }
  .l-start {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -ms-flex-pack: start;
    text-align: start
  }
  .l-center {
    -webkit-justify-content: center;
            justify-content: center;
    -ms-flex-pack: center;
    text-align: center
  }
  .l-end {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -ms-flex-pack: end;  
    text-align: end
  }
  .l-top {
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -ms-flex-align: start
  }
  .l-middle {
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-align: center
  }
  .l-bottom {
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -ms-flex-align: end
  }
  .l-around {
      -webkit-justify-content: space-around;
              justify-content: space-around;
      -ms-flex-pack: distribute
  }
  .l-between {
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -ms-flex-pack: justify
  }
  .l-first {
      -webkit-order: -1;
              order: -1;
      -ms-flex-order: -1
  }
  .l-last {
      -webkit-order: 1;
              order: 1;
      -ms-flex-order: 1
  }
  .l-reverse {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse
  }
}
@media (min-width: 75rem) {
  .xl {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    -ms-flex-positive: 1;    
    -ms-flex-preferred-size: 0;    
    max-width: 100%
  }
  .xl1 {
    -webkit-flex-basis: 8.333%;
            flex-basis: 8.333%;
    -ms-flex-preferred-size: 8.333%;
    max-width: 8.333%
  }
  .xl2 {
    -webkit-flex-basis: 16.667%;
            flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    max-width: 16.667%
  }
  .xl3 {
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    max-width: 25%
  }
  .xl4 {
    -webkit-flex-basis: 33.333%;
            flex-basis: 33.333%;
    -ms-flex-preferred-size: 33.333%;
    max-width: 33.333%
  }
  .xl5 {
    -webkit-flex-basis: 41.667%;
            flex-basis: 41.667%;
    -ms-flex-preferred-size: 41.667%;
    max-width: 41.667%
  }
  .xl6 {
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    max-width: 50%
  }
  .xl7 {
    -webkit-flex-basis: 58.333%;
            flex-basis: 58.333%;
    -ms-flex-preferred-size: 58.333%;
    max-width: 58.333%
  }
  .xl8 {
    -webkit-flex-basis: 66.667%;
            flex-basis: 66.667%;
    -ms-flex-preferred-size: 66.667%;
    max-width: 66.667%
  }
  .xl9 {
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    max-width: 75%
  }
  .xl10 {
    -webkit-flex-basis: 83.333%;
            flex-basis: 83.333%;
    -ms-flex-preferred-size: 83.333%;
    max-width: 83.333%
  }
  .xl11 {
    -webkit-flex-basis: 91.667%;
            flex-basis: 91.667%;
    -ms-flex-preferred-size: 91.667%;
    max-width: 91.667%
  }
  .xl12 {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    max-width: 100%
  }
  .xl-offset-1 {
    margin-left: 8.333%
  }
  .xl-offset-2 {
    margin-left: 16.667%
  }
  .xl-offset-3 {
    margin-left: 25%
  }
  .xl-offset-4 {
    margin-left: 33.333%
  }
  .xl-offset-5 {
    margin-left: 41.667%
  }
  .xl-offset-6 {
    margin-left: 50%
  }
  .xl-offset-7 {
    margin-left: 58.333%
  }
  .xl-offset-8 {
    margin-left: 66.667%
  }
  .xl-offset-9 {
    margin-left: 75%
  }
  .xl-offset-10 {
    margin-left: 83.333%
  }
  .xl-offset-11 {
    margin-left: 91.667%
  }
  .xl-offset-12 {
    margin-left: 100%
  }
  .xl-start {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -ms-flex-pack: start;
    text-align: start
  }
  .xl-center {
    -webkit-justify-content: center;
            justify-content: center;
    -ms-flex-pack: center;
    text-align: center
  }
  .xl-end {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -ms-flex-pack: end;  
    text-align: end
  }
  .xl-top {
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -ms-flex-align: start
  }
  .xl-middle {
    -webkit-align-items: center;
            align-items: center;
    -ms-flex-align: center
  }
  .xl-bottom {
    -webkit-align-items: flex-end;
            align-items: flex-end;
    -ms-flex-align: end
  }
  .xl-around {
      -webkit-justify-content: space-around;
              justify-content: space-around;
      -ms-flex-pack: distribute
  }
  .xl-between {
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -ms-flex-pack: justify
  }
  .xl-first {
      -webkit-order: -1;
              order: -1;
      -ms-flex-order: -1
  }
  .xl-last {
      -webkit-order: 1;
              order: 1;
      -ms-flex-order: 1
  }
  .xl-reverse {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse
  }
}
