// This file essentially creates the grid
// However, we need some basics first, to make the whole shebang work

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: $font-size-root;
}

body {
    margin: 0;
    font-size: $font-size;
}


// Container
// Common style for containers and applying the container-max-widths
.container {
    @include make-container();
    @include make-container-max-widths();
}


// Container fluid
// Same as Container but without the max-widths
.container-fluid {
    @include make-container();
}


// Row
// Contains the columns that flexes
.row {
    @include make-row();
}


// Columns
// Common styles for grid columns
@include make-columns();


// Alignment
// Common alignment styles
@include make-alignment();


// Utilities
// Contains common utilities
@include make-utilities();
